body {
    background-color: light-dark(var(--light-main-bg-color), var(--dark-main-bg-color));
    color: light-dark(var(--light-font-color), var(--dark-font-color));
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;

    button, input, select {
        background-color: light-dark(var(--light-ternary-bg-color), var(--dark-ternary-bg-color));
        border: var(--border);
        padding: 0.5rem;

        &:hover {
            background-color: light-dark(var(--light-main-bg-color), var(--dark-main-bg-color));
        }
    }

    button:active {
        background-color: light-dark(var(--light-secondary-bg-color), var(--dark-secondary-bg-color));
    }

    input:focus {
        background-color: light-dark(var(--light-main-bg-color), var(--dark-main-bg-color));
    }

    header {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 1rem;
        align-items: center;
        background-color: light-dark(var(--light-secondary-bg-color), var(--dark-secondary-bg-color));
        padding: 0.5rem;

        img {
            justify-self: end;
        }

        h1 {
            justify-self: start;
        }
    }

    main {
        display: grid;
        grid-auto-flow: row;
        grid-gap: 2rem;
        padding: 2rem;
        margin-bottom: auto;

        .task-form {
            display: grid;
            grid-auto-flow: column;
            grid-template-rows: subgrid;
            grid-gap: 2rem;

            .task-form-select {
                justify-self: end;
                width: fit-content;
                border-radius: var(--border-radius);
            }

            .task-form-input {
                padding: 0.5rem;
                border-radius: var(--border-radius);
            }

            .task-form-button {
                justify-self: start;
                width: fit-content;
                padding: 0.25rem;
                border-radius: var(--border-radius);
            }
        }

        .task-list {
            display: grid;
            grid-auto-flow: row;
            grid-template-columns: subgrid;
            grid-row-gap: 1rem;
            grid-column-gap: 3rem;
            justify-items: center;

            .task-list-type {
                display: grid;
                /*TodoList.tsx*/
                /*grid-template-columns: repeat(Object.values(TaskType).length, 1fr);*/
                grid-template-rows: subgrid;
                grid-row-gap: 1rem;
                grid-column-gap: 3rem;
                justify-items: center;
                width: 100%;
                height: fit-content;

                ul {
                    list-style: none;
                    display: grid;
                    grid-template-columns: subgrid;
                    background-color: light-dark(var(--light-secondary-bg-color), var(--dark-secondary-bg-color));
                    border: var(--border);
                    border-radius: var(--border-radius);
                    padding: 1rem;
                    max-height: 50vh;
                    overflow-y: scroll;

                    article {
                        display: grid;
                        grid-auto-flow: row;
                        height: fit-content;

                        h2 {
                            justify-self: center;
                        }

                        li {
                            display: grid;
                            grid-template-columns: 1rem auto 1rem;
                            grid-template-rows: subgrid;
                            grid-gap: 1rem;
                            width: 100%;

                            label {
                                grid-column: 2;
                                word-break: break-all;
                            }

                            input {
                                grid-column: 1;
                                width: 100%;
                            }

                            button {
                                grid-column: 3;
                                color: darkred;
                                background-color: inherit;
                                border: none;
                                padding: 0;
                                margin: 0;
                                font-size: x-large;

                                &:hover {
                                    color: red;
                                }
                            }
                        }
                    }
                }
            }

            button {
                width: fit-content;
                padding: 0.25rem;
                border-radius: var(--border-radius);
            }
        }

        .task-counter {
            display: grid;
            grid-auto-flow: row;
            grid-template-columns: subgrid;
            grid-gap: 1rem;
            place-items: center;

            p {
                width: 3rem;
                aspect-ratio: 2.0;
                background-color: light-dark(var(--light-ternary-bg-color), var(--dark-ternary-bg-color));
                border: var(--border);
                border-radius: var(--border-radius);
                padding: 0.5rem;
                text-align: center;
                font-weight: bold;
            }
        }
    }

    footer {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 1rem;
        place-items: center;
        background-color: light-dark(var(--light-secondary-bg-color), var(--dark-secondary-bg-color));
        padding: 0.5rem;
    }
}
