main {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 2rem;
    place-items: center;
    width: 80%;
    margin: auto;

    .title {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 1rem;
        place-items: center;
        font-size: x-large;
    }

    .task-form {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 2rem;
        width: fit-content;

        input {
            padding: 0.5rem;
            border-radius: 15px;
        }

        .task-type {
            width: fit-content;
            padding: 0.5rem;
            border-radius: 15px;
        }

        button {
            width: fit-content;
            padding: 0.25rem;
            border-radius: 15px;
        }
    }

    .task-list {
        display: grid;
        grid-auto-flow: row;
        grid-row-gap: 1rem;
        grid-column-gap: 3rem;
        justify-items: center;
        width: 100%;

        .task-list-type {
            display: grid;
            /*TodoList.tsx*/
            /*grid-template-columns: repeat(Object.values(TaskType).length, 1fr);*/
            grid-template-rows: subgrid;
            grid-row-gap: 1rem;
            grid-column-gap: 3rem;
            justify-items: center;
            width: 100%;

            ul {
                list-style: none;
                display: grid;
                grid-auto-flow: row;
                grid-template-columns: subgrid;
                grid-gap: 0.5rem;
                height: fit-content;

                h3 {
                    justify-self: center;
                }

                li {
                    display: grid;
                    grid-template-columns: 1rem auto 1rem;
                    grid-template-rows: subgrid;
                    grid-gap: 1rem;
                    width: 100%;

                    label {
                        grid-column: 2;
                        word-break: break-all;
                    }

                    input {
                        grid-column: 1;
                        width: 100%;
                    }

                    button {
                        grid-column: 3;
                        color: darkred;
                        background-color: inherit;
                        border: none;
                        padding: 0;
                        margin: 0;
                        font-size: x-large;

                        &:hover {
                            color: red;
                        }
                    }
                }
            }
        }

        button {
            width: fit-content;
            padding: 0.25rem;
            border-radius: 15px;
        }
    }

    .task-counter {
        display: grid;
        grid-auto-flow: row;
        grid-gap: 1rem;
        place-items: center;

        p {
            background-color: midnightblue;
            width: 3rem;
            aspect-ratio: 2.0;
            border: 2px solid dimgray;
            border-radius: 15px;
            padding: 0.5rem;
            text-align: center;
            font-weight: bold;
        }
    }
}
